<!DOCTYPE html>
<html>
<head>
    <title>主页</title>
    <style>
        /* 设置页面样式 */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        /* 设置海报样式 */
        .banner {
            background-image: url('/Areas/employee/Data//pic/NN.png'); /* 替换为海报图片的URL */
            background-size: cover;
            background-position: center;
            height: 650px; /* 调整海报的高度 */
            text-align: center;
            color: #fff; /* 文本颜色 */
            padding: 20px;
            background-color: rgb(255, 255, 255,0.1);
            box-shadow: 0 25px 45px rgba(0,0,0,0.1);
            backdrop-filter: blur(4px);
        }

        /* 设置页脚样式 */
        .footer {
            background-color: #333; /* 页脚背景颜色 */
            color: #fff; /* 文本颜色 */
            text-align: center;
            padding: 10px;
        }
    </style>
</head>
<body>
    <!-- 海报部分 -->
    <div class="banner">
        <h1 style="margin-top:150px; font-weight:bold; font-size:xx-large;" >欢迎来到NN新闻管理后端</h1>
        <p style="margin-top:5px; font-weight:bold; font-size:x-large;">致力于打造精品新闻网站</p>
    </div>
    <div class="footer">
        <p>@@2023 - NN新闻网</p>    
    </div>
</body>
</html>
