<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>信息提示</title>
    <link rel="shortcut icon" href="/Areas/client/assets/images/fav.png" type="image/x-icon">

    <link rel="stylesheet" href="/Areas/client/assets/css/plugins/fontawesome-5.css">
    <link rel="stylesheet" href="/Areas/client/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/Areas/client/assets/css/vendor/swiper.css">
    <link rel="stylesheet" href="/Areas/client/assets/css/vendor/metismenu.css">
    <link rel="stylesheet" href="/Areas/client/assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="/Areas/client/assets/css/style.css">
</head>

<body class="echo-404-page">

    <section class="echo-404-area">
        <div class="echo-container">
            <div class="echo-error-content">
                <div class="echo-error">
                    <div class="echo-error-heading">
                        <h1>权限不足</h1>
                    </div>
                    <div class="echo-error-sub-heading">
                        <h3>您不能进入该功能</h3>
                    </div>
                    <div class="echo-error-pera">
                        <p>你可以在个人中心申请成为一名创作者,<br> 或者离去</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div id="anywhere-home"></div>

    <script src="/Areas/client/assets/js/vendor/jquery.min.js"></script>
    <script src="/Areas/client/assets/js/plugins/audio.js"></script>
    <script src="/Areas/client/assets/js/vendor/bootstrap.min.js"></script>
    <script src="/Areas/client/assets/js/vendor/swiper.js"></script>
    <script src="/Areas/client/assets/js/vendor/metisMenu.min.js"></script>
    <script src="/Areas/client/assets/js/plugins/audio.js"></script>
    <script src="/Areas/client/assets/js/plugins/magnific-popup.js"></script>
    <script src="/Areas/client/assets/js/plugins/resize-sensor.min.js"></script>
    <script src="/Areas/client/assets/js/plugins/theia-sticky-sidebar.min.js"></script>

    <!-- main js file -->
    <script src="/Areas/client/assets/js/main.js"></script>
    <!-- End Footer Area -->


</body>

</html>
