@model db.view.NN_apply
@{
    ViewBag.Title = "机构维护";
}


@section header
{
    <style type="text/css">
    </style>
    <script type="text/javascript">
        //刷新当前页面的数据
        function refleshData(exeCountSql) {
            $("#container").pager("reflesh", exeCountSql);
        }
        //初始化分页
        $(function () {
            $("#container").pager();
        });
    </script>
}
@{ string ctrl = ViewContext.RouteData.Values["controller"].ToString(); }
<div class="container" id="container" data-width="@Model.PageWidth" data-url="/employee/employeeApply/select">
    <div class="search">
        <span>类型：@Html.DropDownListFor(a => a.Type, db.bll.NN_apply.bind类型(true))</span>
        <span>用户ID：@Html.TextBoxFor(a => a.userID)</span>
        <span>新闻机构：@Html.DropDownListFor(a => a.newsAgencyID, db.bll.NN_NewsAgency.bind机构(true))</span>
        <span>处理状态：@Html.DropDownListFor(a => a.status, db.bll.NN_apply.bind处理状态(true))</span>
        <span>申请日期：@Html.TextBoxDateFor(a => a.applyDateTimeStart)~@Html.TextBoxDateFor(a => a.applyDateTimeEND)</span>
    </div>

    <div class="toolbar">
        <a class="opSearch">查询</a>
        @Html.ActionLink("批量通过", "batchAgree", new { }, new { data_show = rui.privCtl.isPriv(ctrl, "batchAgree"), @class = "listBatchOp opBtn", data_msg = "确认批量通过" })
        @Html.ActionLink("批量拒绝", "batchReject", new { }, new { data_show = rui.privCtl.isPriv(ctrl, "batchReject"), @class = "listBatchOp opBtn", data_msg = "确认批量拒绝" })
    </div>
    <div class="pager"></div>
    <form id="form">
        <div class="showData cbxCol">
            @{Html.RenderPartial("_ShowData");}
        </div>
    </form>
</div>
