
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>中转页</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>

<script type="text/javascript">
    top.location.href = "/Login/Home"
</script>
